body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 30px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav {
  background-color: #487da6;
  height: 50px;
  padding: 15px;
  margin-bottom: 30px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin-top: -10px;
}

.nav ul li, .nav ul li a {
  color: white;
}

.nav ul li a:hover {
  color: #02b3e4;
}

.nav__user-info {
  margin-top: -10px;
  margin-left: 200px;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  max-height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.card {
  max-width: 590px;
  margin: 0 auto;
}
